<%= form_with(model: auction, local: true) do |form| %>
  <% if auction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auction.errors.count, "error") %> prohibited this auction from being saved:</h2>

      <ul>
      <% auction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :desc %>
    <%= form.text_area :desc, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :starting_price %>
    <%= form.text_field :starting_price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :'Start on' %>
    <%= form.datetime_select :published_at, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :'End on' %>
    <%= form.datetime_select :end_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if auction.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', auction, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if auction.persisted? %>
      <%= link_to "Cancel", auction, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", auctions_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
