<div class="" style="background-color: whitesmoke;">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 500px">
        <img class="d-block w-100" src="/assets/laptop5.jpeg" alt="First slide">
        <!-- <div class="carousel-caption d-none d-md-block">
          <h5>This is header 1</h5>
          <p>This is the sub text so be watchful</p>
        </div> -->
      </div>
      <div class="carousel-item" style="height: 500px">
        <img class="d-block w-100" src="/assets/40.jpg" alt="Second slide">
        <!-- <div class="carousel-caption d-none d-md-block">
          <h5>This is hbksjvnj 2</h5>
          <p>This is the text under header 2</p>
        </div> -->
      </div>
      <div class="carousel-item" style="height: 500px">
        <img class="d-block w-100" src="/assets/module-1.jpg" alt="Third slide">
        <!-- <div class="carousel-caption d-none d-md-block">
          <h5>This is header 3</h5>
          <p>This is the text under header 3</p>
        </div> -->
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<div class="container" style="">

  <div class="">
    <h1 style="text-align: center;">Current Auctions</h1>
    <div class="card-group">
      <% @auctions.published.each do |auction| %>
        <%= content_tag :tr, id: dom_id(auction), class: dom_class(auction) do %>
          <div class="col-lg-3 col-sm-6 my-3"><div class="card">
              <img src="<%= auction.image %>" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title"><%=link_to auction.title, auction %></h5>
                  <p class="card-text"><%= auction.desc.truncate(20) %></p>
              </div>
              <div class="card-footer">
                  <small class="text-muted"><%= "posted " + time_ago_in_words(auction.created_at) + " ago" %></small>
              </div>
          </div></div>
        <% end %>
      <% end %>
    </div>
  </div>
<hr>
  <div class="">
    <h1 style="text-align: center;">Upcoming Auctions</h1>

    <div class="card-group">
      <% @auctions.unpublished.each do |auction| %>
        <%= content_tag :tr, id: dom_id(auction), class: dom_class(auction) do %>
          <div class="col-lg-3 col-sm-6 my-3"><div class="card">
              <img src="<%= auction.image %>" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title"><%=link_to auction.title, auction %></h5>
                  <p class="card-text"><%= auction.desc.truncate(20) %></p>
              </div>
              <div class="card-footer">
                  <small class="text-muted"><%= "posted " + time_ago_in_words(auction.created_at) + " ago" %></small>
              </div>
          </div></div>
        <% end %>
      <% end %>
    </div>
  </div>
<hr>
  <div class="">
    <h1 style="text-align: center;">Closed Auction</h1>

    <div class="card-group">
      <% @auctions.ended.each do |auction| %>
        <%= content_tag :tr, id: dom_id(auction), class: dom_class(auction) do %>
          <div class="col-lg-3 col-sm-6 my-3"><div class="card">
              <img src="<%= auction.image %>" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title"><%=link_to auction.title, auction %></h5>
                  <p class="card-text"><%= auction.desc.truncate(20) %></p>
              </div>
              <div class="card-footer">
                  <small class="text-muted"><%= "posted " + time_ago_in_words(auction.created_at) + " ago" %></small>
              </div>
          </div></div>
        <% end %>
      <% end %>
    </div>
  </div>
<%#= will_paginate @auctions %>
<%#= will_paginate @auctions , renderer: RemoteLinkPagination::LinkRenderer %>
<%#= will_paginate @auctions, renderer: BootstrapPagination::Rails %>
<%= will_paginate @auctions, :renderer => BootstrapPagination::Rails %>


</div>

</div>
