


<div class="row">
  <div class="col-sm-6">
    <h1>Auctions</h1>
  </div>
  <% if user_signed_in? %>
    <div class="col-sm-6 text-right">
    <%= link_to new_auction_path, class: 'btn btn-primary' do %>
      Add New Auction
    <% end %>
    </div>
  <% else %>
  <% end %>
</div>


<div class="card-group">
  <% @auctions.each do |auction| %>
    <%= content_tag :tr, id: dom_id(auction), class: dom_class(auction) do %>
      <div class="card">
        <img src="<%= auction.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%=link_to auction.title, auction %></h5>
          <p class="card-text"><%= auction.desc.truncate(20) %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    <% end %>
  <% end %>
</div>



<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>


            <th>Title</th>
            <th>Desc</th>
            <th>Starting price</th>
            <th>End date</th>
            <th>User</th>
            <th>Image</th>

          <th></th>

      </tr>
    </thead>

    <tbody>
      <% @auctions.each do |auction| %>
        <%= content_tag :tr, id: dom_id(auction), class: dom_class(auction) do %>


                      <td><%= auction.title %></td>
                      <td><%= auction.desc %></td>
                      <td><%= auction.starting_price %></td>
                      <td><%= auction.end_date %></td>
                      <td><%= auction.user.name %></td>
                      <td><%= auction.image %></td>


            <td><%= link_to 'Show', auction %></td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
