<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body style="background-image: url(/assets/laptop.jpg); background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">
    <%= render 'shared/navbar' %>
    <%= render 'shared/notices' %>

    <div class="">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
